/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#logo-booki {
    height: 50%;
}

#link-header {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    height: 100%;
}

#link-header a {
    display: flex;
    align-items: center;
    height: 100%;
    border-top: 5px solid transparent;
}

#link-header>a:hover {
    color: var(--main-color);
    border-top: 5px solid var(--main-color);
}

#box-top {
    margin: 40px 0 20px 0;
}

#box-top>* {
    margin: 5px 0;
}

#localisation {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#icon-localisation {
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    border-radius: 8px 0 0 8px;
    padding: 11px;
    width: 15px;
    height: 15px;
}

#search-localisation {
    border: 1px solid var(--main-bg-color);
    background-color: white;
    padding: 10.5px
}

#submit-localisation {
    color: white;
    font-weight: bold;
    border: var(--main-color);
    background-color: var(--main-color);
    border-radius: 0 8px 8px 0;
    padding: 10.5px;
}

#icon-submit {
    display: none;
}

#section-filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#nav-filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filtres {
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    padding: 7px 10px;
    font-weight: bold;
    background-color: white;
}

.filtres>*:first-child {
    padding: 0 6px 0 2px;
    color: var(--main-color);
}

.filtres:hover {
    background-color: #DEEBFF;
}

#filtres-title {
    font-weight: bold;
}

#section-cercle-info {
    display: flex;
    margin: 25px 0;
    align-items: center;

}

.cercle-info {
    margin-right: 10px;
    font-size: 10px;
    color: var(--main-color);
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texte-info {
    color: black;
    font-size: 13px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards a {
    width: 31%;
    margin: 20px 0;
}

.hebergements-cards .card {
    height: 100%;
}

.hebergements-cards .card img {
    width: 100%;
    height: 124px;
    border-radius: 17px 17px 0 0;
}

.card-subtitle {
    margin-top: 0px;
    margin-bottom: 6px;
}

.card-rating {
    margin-top: 2px;
    margin-bottom: 7px;
}

.card-content {
    padding-left: 10px;
}

#bouton-action {
    border: none;
    font-weight: bold;
    font-size: large;
    background-color: transparent;
    padding-top: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
#section-activites {
    margin: 60px 0;
}

.section-activites-cards {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.section-activites-cards a {
    width: 24%;
}

.section-activites-cards img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 380px;
}

.activites-cards {
    border: 1px solid var(--filter-bg-color);
    border-radius: 20px;
    filter: drop-shadow(0px 3px 5px rgba(217, 217, 217, 0.5));
    background-color: white;
}

.activites-cards>h3 {
    justify-content: center;
    padding-left: 15px;
    font-size: 15px;
}


/****** Footer ***********/
#footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--main-bg-color);
    padding-left: 15px;
}

#footer div {
    width: 33%;
    padding: 0px 10px 15px 10;
}

#footer a {
    display: block;
    padding: 0 0 10px 5px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    body {
        margin: 0;
    }

    #icon-submit {
        display: none
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    #hebergements {
        width: 100%;
    }

    .hebergements-cards .card {
        height: 207px;
    }

    .hebergements-cards img {
        height: 55%;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activités ***********/

    .activites-cards {
        height: 265px;
    }

    .activites-cards .card {
        width: 22%;
    }

    .activites-cards img {
        width: 100%;
    }

    .section-activites-cards img {
        height: 200px;
    }

    /****** Footer ***********/
    #footer {
        display: flex;
        background-color: var(--main-bg-color);
        width: 100%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    body {
        margin: 0;
        width: 100%;
    }

    .main-container {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .container-header {
        flex-direction: column;
        height: auto;
    }

    #logo-booki {
        width: 20%;
        height: 25px;
        margin: 20px 0;
    }

    #link-header {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;
        border-top: 3px solid transparent;
    }

    #link-header>a {
        display: flex;
        justify-content: center;
        flex: 1;
        height: 100%;
        border: none;
        border-bottom: 3px solid var(--main-bg-color);
    }

    #link-header>a:hover {
        border: none;
        border-bottom: 3px solid var(--main-color);
    }

    #section-header-main {
        padding: 5%;
    }

    #box-top {
        font-size: 16px;
    }

    #container-localisation {
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }

    #localisation {
        width: min-content;
        height: 100%;
        margin: 0;
    }

    #localisation>* {
        height: 100%;
    }

    #search-localisation {
        width: inherit;
    }

    #submit-localisation {
        padding: 13px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        margin-left: -8px;
    }

    #submit-localisation #span-submit {
        display: none;
    }

    #icon-submit {
        display: block;
        background-color: var(--main-color);
        border-radius: 8px;
    }

    #section-filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    #nav-filtres {
        display: grid;
        grid-template-columns: 150px 150px;
        flex-wrap: wrap;
        padding-top: 5px;
    }

    #section-cercle-info {
        margin-bottom: 0;
    }

    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    /****** Populaires ***********/


    .populaires {
        margin-top: 0;
    }

    .populaires-title>h2 {
        font-size: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    /****** Hebergements ***********/

    #hebergements {
        background-color: white;
        margin-bottom: 0;
    }

    #hebergements>h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .hebergements-cards a {
        width: 100%;
        margin: 7.5px 0;
    }

    /****** Activités ***********/

    #section-activites {

        padding-left: 5%;
        margin-top: 5%;
        padding: 0 10%;
    }


    .section-activites-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .section-activites-cards a {
        width: 100%;
    }

    .section-activites-cards img {
        height: 140px;
        width: 100%;
    }

    .activites-cards {
        margin: 7.5px 0;
        height: 200px;
    }

    /****** Footer ***********/

    #footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }
    #footer div {
        padding-left: 25px;

    }

    #footer h3 {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 768px;
    }

    #footer a {
        padding: 0 0 10px 0px;
        width: 768px;
    }
}